.dropdown-options {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000a1;
  right: 40px;
  top: 11px;
  border-radius: 5px;
  padding: 5px 10px;
  b {
    width: 100%;
    cursor: pointer;
    padding: 0px;
    text-align: center;
    border-bottom: transparent 1px solid;
    &:hover {
      border-bottom: white 1px solid;
      transition: 1s;
    } 
  }
}

