//  Carlos Wilthew.
//  License: none (public domain)
//  Global Styling.

$color-white: #fff;

.twitter-app a {
  color: $color-white;
}

.twitter-app {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter-content {
  width: 800px;
  margin-top: 70px;
  border: 1px solid black;
}


@media only screen and (max-width: 575px) {
  .profile-picture img {
    max-width: 90px;
  }
  .twitter-app .NewTweet .NewTweet-Avatar {
    display: none;
  }
}
