.Footer {
    display: flex;
    .Interactions {
        display: flex;
        width: 80px;
        align-items: center;
        font-size: 1.4em;
        svg {
            cursor: pointer;
            padding-right: 10px;
            font-size: 2em;
        }
        .Favorite {
            color: white;
        }
        .Retweet {
            color: white;
        } 
        .Reply {
            color: white;
        }
        .Favorite-Active {
            color: #d3263b; 
        }
        .Retweet-Active {
            color: #17b04b;
        }
        .Favorite:hover {
            color: #d3263b;
            transition: 0.1s;
        }
        .Retweet:hover {
            color: #17b04b;
            transition: 0.1s;
        }
        .Reply:hover {
            color: #1b86f2;
            transition: 0.1s;
        }
        .Tweet-Action-Count {
            color: white;
            font-size: 12px;
            font-weight: bold;
        }
    }
}

